node_modules/
cache/
artifacts/
types/
dist/
coverage/
coverage.json
storage/
.env
*lcov.info
# Foundry
out
forge-cache
docs
flattened/
buildArtifact.json
fixtures/
# ZKSync
artifacts-zk
cache-zk
core-utils/zksync/artifacts/output
.zksolc-libraries-cache/
typechain-types/
typechain/