node_modules/
cache/
artifacts/
types/
dist/
coverage/
coverage.json
storage/
*.env
!.env.default
*lcov.info
# Foundry
out
forge-cache
docs
flattened/
buildArtifact.json
fixtures/
broadcast/
# Soldeer
dependencies/
# ZKSync
artifacts-zk
cache-zk
core-utils/zksync/artifacts/output
.zksolc-libraries-cache/
typechain-types/
typechain/

# bytecode dumps
bytecode/