node_modules/
cache/
artifacts/
types/
dist/
coverage/
coverage.json
storage/
*.env
!.env.default
*lcov.info
# Foundry
out
forge-cache
out-tron
forge-cache-tron
docs
flattened/
buildArtifact.json
fixtures/
broadcast/
# Soldeer
dependencies/
# ZKSync
artifacts-zk
cache-zk
# Tron
artifacts-tron
cache-tron
core-utils/zksync/artifacts/output
core-utils/generated/
.zksolc-libraries-cache/
typechain-types/
typechain/

# bytecode dumps
bytecode/
# interface dumps
interface/
