[profile.default]
src = 'contracts'
script = 'script'
out = 'out'
libs = ['node_modules', 'lib']
test = 'test'
cache_path = 'forge-cache'
allow_paths = ["../node_modules"]
solc_version = '0.8.22'
evm_version= 'paris'
optimizer_runs = 999_999
fs_permissions = [
    { access = "read", path = "./script/avs/" },
    { access = "read", path = "../vectors" },
    { access = "write", path = "./fixtures" },
]
ignored_warnings_from = ['lib', 'test', 'contracts/test']

[profile.ci]
verbosity = 4

[rpc_endpoints]
mainnet = "https://eth.merkle.io"
optimism = "https://mainnet.optimism.io	"
polygon = "https://rpc-mainnet.matic.quiknode.pro"
arbitrum = "https://arbitrum.drpc.org"
base = "https://mainnet.base.org"
incentive = "https://rpc-archive.incentiv.io"

[fuzz]
runs = 50
dictionary_weight = 80
