[profile.default]
src = 'contracts'
out = 'out'
libs = ['node_modules', 'lib']
test = 'test'
cache_path = 'forge-cache'
allow_paths = ["../node_modules"]
solc_version = '0.8.22'
evm_version= 'paris'
optimizer = true
optimizer_runs = 999_999
fs_permissions = [{ access = "write", path = "fixtures"}]

[profile.ci]
verbosity = 4

[rpc_endpoints]
mainnet = "https://eth.merkle.io"
optimism = "https://mainnet.optimism.io	"
