# File extension owners

*.sol @yorhodes @ltyu
*.ts @yorhodes @ltyu
*.rs @tkporter @daniel-savu @ameten

# Package owners

## Contracts
solidity/ @yorhodes @tkporter @ltyu

## Agents
rust/ @tkporter @daniel-savu

## SDK
typescript/utils @yorhodes @ltyu @paulbalaji
typescript/sdk @yorhodes @ltyu @paulbalaji
typescript/widgets @xaroz @cmcewen

## CLI
typescript/cli @yorhodes @ltyu

## Infra
typescript/infra @tkporter @paulbalaji @Mo-Hussain
