# Package owners

## Contracts
solidity/ @nambrot
starknet/ @troykessler

## Agents
rust/ @troykessler @paulbalaji

## SDK
typescript/sdk @paulbalaji @xaroz @xeno097
typescript/utils @paulbalaji @xaroz @xeno097
typescript/widgets @xaroz @xeno097

## Multi-VM SDK
typescript/deploy-sdk @xeno097 @troykessler
typescript/provider-sdk @xeno097 @troykessler
typescript/aleo-sdk @xeno097 @troykessler
typescript/cosmos-sdk @xeno097 @troykessler
typescript/cosmos-types @xeno097 @troykessler
typescript/radix-sdk @xeno097 @troykessler
typescript/tron-sdk @xeno097 @troykessler

## CLI
typescript/cli @xeno097

## Infra
typescript/infra @paulbalaji @Mo-Hussain
typescript/github-proxy @paulbalaji @Mo-Hussain
typescript/helloworld @paulbalaji @Mo-Hussain
typescript/http-registry-server @paulbalaji @Mo-Hussain
typescript/keyfunder @paulbalaji @Mo-Hussain
typescript/metrics @paulbalaji @Mo-Hussain
typescript/warp-monitor @paulbalaji @Mo-Hussain @xeno097

## Relayer & Rebalancer
typescript/ccip-server @Mo-Hussain @nambrot
typescript/rebalancer @Mo-Hussain @nambrot @paulbalaji
typescript/rebalancer-sim @Mo-Hussain @nambrot @paulbalaji
typescript/relayer @Mo-Hussain @paulbalaji

## Shared Tooling
oxlint.json @xeno097 @paulbalaji
typescript/tsconfig @xeno097 @paulbalaji
