node_modules
test_deploy.env
results.sarif

**/.env*
**/tsconfig.tsbuildinfo
**/tmp.*
**/*.swp
**/*.swo

rust/tmp_db
rust/tmp.env
tmp.env
.DS_STORE

# Built Helm dependencies
**/helm/**/charts/*.tgz

typescript/*/node_modules
typescript/infra/config/environments/test/create2/*json
typescript/infra/config/environments/test/testrecipient/*json
solidity/artifacts

# pnpm
.pnpm-store/
pnpm-debug.log*

.turbo

.idea
**/*.ignore

tsconfig.editor.json

# yalc
yalc.lock
.yalc

**/keys
!typescript/infra/scripts/keys
**/warp-route-deployer-key.json
**/key.json
**/deployer-key.json

# .yarn as we us pnpm now
.yarn