typescript/sdk/src/cw-types/*.types.ts linguist-generated=true
rust/main/chains/hyperlane-ethereum/abis/*.abi.json linguist-generated=true
solidity/contracts/interfaces/avs/*.sol linguist-vendored=true
solidity/contracts/avs/ECDSA*.sol linguist-vendored=true
solidity/contracts/interfaces/networks/*.sol linguist-vendored=true
