node_modules
test_deploy.env

typescript/hyperlane-deploy/.env
**/.env
**/tsconfig.tsbuildinfo
**/tmp.*
**/*.swp
**/*.swo

rust/vendor/
rust/tmp_db
rust/tmp.env
tmp.env
.DS_STORE

typescript/*/node_modules
solidity/*/artifacts

.yarn/install-state.gz
.yarn/cache
yarn-error.log

.idea
