[submodule "solidity/lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/lib/fx-portal"]
	path = solidity/lib/fx-portal
	url = https://github.com/0xPolygon/fx-portal
