node_modules
test_deploy.env

**/.env
**/tsconfig.tsbuildinfo
**/tmp.*
**/*.swp
**/*.swo

rust/tmp_db
rust/tmp.env
tmp.env
.DS_STORE

# Built Helm dependencies
**/helm/**/charts/*.tgz

typescript/*/node_modules
typescript/infra/config/environments/test/create2/*json
typescript/infra/config/environments/test/testrecipient/*json
solidity/artifacts

.yarn/install-state.gz
.yarn/cache
yarn-error.log

.turbo

.idea
**/*.ignore

tsconfig.editor.json
