[submodule "solidity/lib/forge-std"]
	path = solidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "solidity/lib/fx-portal"]
	path = solidity/lib/fx-portal
	url = https://github.com/0xPolygon/fx-portal
[submodule "dymension/foo_test/foundry/lib/forge-std"]
	path = dymension/foo_test/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dymension/foo_test/foundry/lib/openzeppelin-contracts"]
	path = dymension/foo_test/foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
