[submodule "typescript/token"]
	path = typescript/token
	url = git@github.com:hyperlane-xyz/hyperlane-token.git
	branch = asaj/update-deps
	update = rebase
[submodule "typescript/helloworld"]
	path = typescript/helloworld
	url = git@github.com:hyperlane-xyz/hyperlane-app-template.git
	branch = asaj/upgrade-deps
	update = rebase
