# Prettier is only used for Solidity files.
# All other formatting is handled by oxfmt.
*
!*/
!solidity/**/*.sol
!typescript/helloworld/contracts/**/*.sol
**/node_modules/**
solidity/artifacts/**
solidity/cache/**
solidity/core-utils/typechain/**
solidity/dependencies/**
solidity/lib/**
typescript/helloworld/artifacts/**
typescript/helloworld/cache/**
typescript/helloworld/src/types/**
