-apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "hyperlane.fullname" . }}-external-secret
  labels:
    {{- include "hyperlane.labels" . | nindent 4 }}
spec:
  secretStoreRef:
    name: {{ include "hyperlane.cluster-secret-store.name" . }}
    kind: ClusterSecretStore
  refreshInterval: "1h"
  # The secret that will be created
  target:
    name: {{ include "hyperlane.fullname" . }}-secret
    template:
      type: Opaque
      metadata:
        labels:
          {{- include "hyperlane.labels" . | nindent 10 }}
        annotations:
          update-on-redeploy: "{{ now }}"
      data:
        GCP_SECRET_OVERRIDES_ENABLED: "true"
        GCP_SECRET_OVERRIDE_{{ $.Values.hyperlane.runEnv | upper }}_COINGECKO_API_KEY: {{ printf "'{{ .%s_coingecko_api_key | toString }}'" .Values.hyperlane.runEnv }}
        GCP_SECRET_OVERRIDE_HYPERLANE_{{ .Values.hyperlane.runEnv | upper }}_KEY_DEPLOYER: {{ print "'{{ .deployer_key | toString }}'" }}
{{/*
   * For each network, create an environment variable with the RPC endpoint.
   * The templating of external-secrets will use the data section below to know how
   * to replace the correct value in the created secret.
   */}}
        {{- range .Values.hyperlane.chains }}
        GCP_SECRET_OVERRIDE_{{ $.Values.hyperlane.runEnv | upper }}_RPC_ENDPOINTS_{{ . | upper }}: {{ printf "'{{ .%s_rpcs | toString }}'" . }}
        {{- end }}
  data:
  - secretKey: {{ printf "%s_coingecko_api_key" .Values.hyperlane.runEnv }}
    remoteRef:
      key: {{ printf "%s-coingecko-api-key" .Values.hyperlane.runEnv }}
  - secretKey: deployer_key
    remoteRef:
      key: {{ printf "hyperlane-%s-key-deployer" .Values.hyperlane.runEnv }}
{{/*
   * For each network, load the secret in GCP secret manager with the form: environment-rpc-endpoint-network,
   * and associate it with the secret key networkname_rpc.
   */}}
  {{- range .Values.hyperlane.chains }}
  - secretKey: {{ printf "%s_rpcs" . }}
    remoteRef:
      key: {{ printf "%s-rpc-endpoints-%s" $.Values.hyperlane.runEnv . }}
  {{- end }}
