[package]
name = "run-locally"
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
version.workspace = true

[dependencies]
hyperlane-base = { path = "../../hyperlane-base" }
hyperlane-core = { path = "../../hyperlane-core", features = ["float"] }
hyperlane-cosmos = { path = "../../chains/hyperlane-cosmos" }
hyperlane-ton = { path = "../../chains/hyperlane-ton" }
toml_edit.workspace = true
k256.workspace = true
jobserver.workspace = true
reqwest.workspace = true
ripemd.workspace = true
sha2.workspace = true
serde.workspace = true
serde_json.workspace = true
hex.workspace = true
ctrlc.workspace = true
eyre.workspace = true
ethers.workspace = true
ethers-core.workspace = true
ethers-contract.workspace = true
tokio.workspace = true
maplit.workspace = true
nix = { workspace = true, features = ["signal"], default-features = false }
once_cell.workspace = true
tempfile.workspace = true
ureq = { workspace = true, default-features = false }
which.workspace = true
macro_rules_attribute.workspace = true
regex.workspace = true
relayer = { path = "../../agents/relayer" }
hyperlane-cosmwasm-interface.workspace = true
cosmwasm-schema.workspace = true
secp256k1="0.30"
url = "2.5.2"
log.workspace = true

reqwest = { workspace = true, version = "0.11", features = ["json"] }
env_logger = "0.9.3"
tonlib-core = "0.22.2"

[build-dependencies]
anyhow = { workspace = true }
vergen = { version = "8.3.2", features = ["build", "git", "gitcl"] }

[features]
cosmos = []
sealevel = []
ton = []
