cargo-features = ["workspace-inheritance"]

[package]
name = "run-locally"
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
version.workspace = true

[dependencies]
ctrlc.workspace = true
eyre.workspace = true
maplit.workspace = true
nix = { workspace = true, features = ["signal"], default-features = false }
tempfile.workspace = true
ureq = { workspace = true, default-features = false }
which.workspace = true
macro_rules_attribute.workspace = true
regex.workspace = true
hyperlane-core = { path = "../../hyperlane-core" }
