export STAKE_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/fWMVyJxmoaEvXZs6ScQUT7iHr3xvGwHq
export DISTRIBUTION_RPC_URL=https://opt-mainnet.g.alchemy.com/v2/fWMVyJxmoaEvXZs6ScQUT7iHr3xvGwHq

export STAKED_WARP_ROUTE_ADDRESS=0x9F6E6d150977dabc82d5D4EaaBDB1F1Ab0D25F92

export HYPER_AMOUNT=0x02dcaf1e25a77600790000
export HYPER_RECIPIENT=0x93A2Db22B7c736B341C32Ff666307F4a9ED910F5

export STAKED_HYPER_AMOUNT=0x0
export STAKED_HYPER_RECIPIENT=0x9923DB8d7FBAcC2E69E87fAd19b886C81cd74979
