DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ccip_server"
ENABLED_MODULES=cctp,callCommitments
SERVER_PORT=3000
# If you want to use a different registry
# REGISTRY_URI=/Users/nambrot/devstuff/hyperlane-registry