cargo-features = ["workspace-inheritance"]

[package]
name = "ecdsa-signature"
version = "0.1.0"
edition = "2021"

[dependencies]
solana-program.workspace = true
thiserror.workspace = true

hyperlane-core = { path = "../../../hyperlane-core" }

[lib]
crate-type = ["cdylib", "lib"]

[profile.release]
overflow-checks = true
