[package]
name = "dymension-kaspa-hl-constants"
documentation = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license-file = { workspace = true }
publish = { workspace = true }
version = { workspace = true }

[dependencies]
# Intentionally no dependencies to avoid circular dependency issues
