ORIGIN_TOKEN_STANDARD=NATIVE
DESTINATION_TOKEN_STANDARD=SYNTHETIC
ORIGIN_DOMAIN=777001
DESTINATION_DOMAIN=777002
MAILBOX=
VALIDATOR_KEY=
MAILBOX_VERSION=3
MNEMONIC=
WALLET_VERSION=V4
MAILBOX_OWNER_ADDRESS=
PRIVATE_KEY=