{{- if .Values.hyperlane.scraper.enabled }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "agent-common.fullname" . }}-scraper3-external-secret
  labels:
    {{- include "agent-common.labels" . | nindent 4 }}
  annotations:
    update-on-redeploy: "{{ now }}"
spec:
  secretStoreRef:
    name: {{ include "agent-common.secret-store.name" . }}
    kind: {{ .Values.externalSecrets.storeType }}
  refreshInterval: "1h"
  # The secret that will be created
  target:
    name: {{ include "agent-common.fullname" . }}-scraper3-secret
    template:
      type: Opaque
      metadata:
        labels:
          {{- include "agent-common.labels" . | nindent 10 }}
      data:
        HYP_BASE_DB: {{ print "'{{ .db | toString }}'" }}
  data:
  - secretKey: db
    remoteRef:
      key: {{ printf "%s-%s-scraper3-db" .Values.hyperlane.context .Values.hyperlane.runEnv }}
{{- end }}
