[package]
name = "reqwest-utils"
documentation.workspace = true
edition.workspace = true
homepage.workspace = true
license-file.workspace = true
publish.workspace = true
version.workspace = true

[dependencies]
reqwest.workspace = true
url.workspace = true
thiserror.workspace = true
