.env*
/dist
/cli-bundle
/cache

# Deployment artifacts and local registry configs
/configs
/artifacts
/chains
/deployments
/generated

# Test artifacts
/test-configs/**/addresses.yaml
/test-configs/*/deployments