.env*
/dist
/cache

# Deployment artifacts and local registry configs
/configs
/artifacts
/chains
/deployments
/transactions

# Test artifacts
/test-configs/**/addresses.yaml
/test-configs/*/deployments