cargo-features = ["workspace-inheritance"]

[package]
name = "hyperlane-sealevel-client"
version = "0.1.0"
edition = "2021"

[dependencies]
borsh.workspace = true
bs58.workspace = true
bincode.workspace = true
clap = { workspace = true, features = ["derive"] }
ethers.workspace = true
hex.workspace = true
pretty_env_logger.workspace = true
serde.workspace = true
serde_json.workspace = true
solana-clap-utils.workspace = true
solana-cli-config.workspace = true
solana-client.workspace = true
solana-program.workspace = true
solana-sdk.workspace = true
solana-transaction-status.workspace = true

account-utils = { path = "../libraries/account-utils" }
hyperlane-core = { path = "../../main/hyperlane-core" }
hyperlane-sealevel-connection-client = { path = "../libraries/hyperlane-sealevel-connection-client" }
hyperlane-sealevel-mailbox = { path = "../programs/mailbox", features = [
    "no-entrypoint",
    "serde",
] }
hyperlane-sealevel-multisig-ism-message-id = { path = "../programs/ism/multisig-ism-message-id", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-token = { path = "../programs/hyperlane-sealevel-token", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-token-memo = { path = "../programs/hyperlane-sealevel-token-memo", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-igp = { path = "../programs/hyperlane-sealevel-igp", features = [
    "no-entrypoint",
    "serde",
] }
hyperlane-sealevel-token-collateral = { path = "../programs/hyperlane-sealevel-token-collateral", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-token-collateral-memo = { path = "../programs/hyperlane-sealevel-token-collateral-memo", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-token-lib = { path = "../libraries/hyperlane-sealevel-token" }
hyperlane-sealevel-token-native = { path = "../programs/hyperlane-sealevel-token-native", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-token-native-memo = { path = "../programs/hyperlane-sealevel-token-native-memo", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-validator-announce = { path = "../programs/validator-announce", features = [
    "no-entrypoint",
] }
hyperlane-sealevel-hello-world = { path = "../programs/helloworld" }
