cargo-features = ["workspace-inheritance"]

[package]
name = "hyperlane-sealevel-client"
version = "0.1.0"
edition = "2021"

[dependencies]
borsh.workspace = true
clap = { workspace = true, features = ["derive"] }
hex.workspace = true
lazy_static.workspace = true
pretty_env_logger.workspace = true
serde.workspace = true
serde_json.workspace = true
solana-clap-utils.workspace = true
solana-cli-config.workspace = true
solana-client.workspace = true
solana-program.workspace = true
solana-sdk.workspace = true

account-utils = { path = "../libraries/account-utils" }
hyperlane-core = { path = "../../hyperlane-core" }
hyperlane-sealevel-connection-client = { path = "../libraries/hyperlane-sealevel-connection-client" }
hyperlane-sealevel-mailbox = { path = "../programs/mailbox" }
hyperlane-sealevel-multisig-ism-message-id = { path = "../programs/ism/multisig-ism-message-id" }
hyperlane-sealevel-token = { path = "../programs/hyperlane-sealevel-token" }
hyperlane-sealevel-token-collateral = { path = "../programs/hyperlane-sealevel-token-collateral" }
hyperlane-sealevel-token-lib = { path = "../libraries/hyperlane-sealevel-token" }
hyperlane-sealevel-token-native = { path = "../programs/hyperlane-sealevel-token-native" }
hyperlane-sealevel-validator-announce = { path = "../programs/validator-announce" }