environment: testnet

# General deployment configuration
image:
  repository: gcr.io/abacus-labs-dev/hyperlane-monorepo
  # Modify this tag to deploy a new revision.
  # Images can be found here:
  # https://console.cloud.google.com/artifacts/docker/abacus-labs-dev/us/gcr.io/hyperlane-monorepo?inv=1&invt=AbxRMg&project=abacus-labs-dev
  tag: 0b57705-20250514-150736

# Ingress / Loadbalancer
# Needs external coordination with Google Cloud External IP and DNS provider
# TODO move over to testnet values (and shutdown old service)
ingress:
  host: offchain-lookup.web3tools.net # Deprecated
  staticIpName: my-ingress-ip # Deprecated

port: 3000

# TODO split between prod and testnet
env:
  - name: RPC_URL
    value: "https://eth-sepolia.public.blastapi.io"
  - name: CHAIN_ID
    value: "84532"
  - name: ENABLED_MODULES
    value: "cctp"
  - name: HYPERLANE_EXPLORER_API
    value: "https://api.hyperlane.xyz/v1/graphql"
  - name: CCTP_ATTESTATION_API
    value: "https://iris-api-sandbox.circle.com"
  - name: SERVER_URL_PREFIX
    value: "/"
  - name: SERVER_PORT
    value: "3000"
  - name: RPC_LIST
    value: '{"11155111":"https://eth-sepolia.public.blastapi.io", "11155420": "https://optimism-sepolia.api.onfinality.io/public", "421614": "https://sepolia-rollup.arbitrum.io/rpc", "84532": "https://sepolia.base.org"}'
