apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: key-funder-env-var-external-secret
  labels:
    {{- include "hyperlane.labels" . | nindent 4 }}
spec:
  secretStoreRef:
    name: {{ include "hyperlane.cluster-secret-store.name" . }}
    kind: ClusterSecretStore
  refreshInterval: "1h"
  target:
    name: key-funder-env-var-secret
    template:
      type: Opaque
      metadata:
        labels:
          {{- include "hyperlane.labels" . | nindent 10 }}
        annotations:
          update-on-redeploy: "{{ now }}"
      data:
        FUNDER_PRIVATE_KEY: {{ print "'{{ $json := .funder_key | fromJson }}{{ $json.privateKey }}'" }}
        {{- range .Values.hyperlane.chains }}
        RPC_URL_{{ . | upper | replace "-" "_" }}: {{ printf "'{{ .%s_rpcs | toString }}'" . }}
        {{- end }}
  data:
  - secretKey: funder_key
    remoteRef:
      key: {{ printf "hyperlane-%s-key-deployer" .Values.hyperlane.runEnv }}
  {{- range .Values.hyperlane.chains }}
  - secretKey: {{ printf "%s_rpcs" . }}
    remoteRef:
      key: {{ printf "%s-rpc-endpoints-%s" $.Values.hyperlane.runEnv . }}
  {{- end }}
