apiVersion: v1
kind: Service
metadata:
  name: kaspa-db
  labels:
    app: kaspa-db
spec:
  ports:
  - port: 5432
    name: postgres
  clusterIP: None
  selector:
    app: kaspa-db
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kaspa-db
spec:
  serviceName: kaspa-db
  replicas: 1
  selector:
    matchLabels:
      app: kaspa-db
  template:
    metadata:
      labels:
        app: kaspa-db
    spec:
      containers:
      - name: postgres
        image: postgres:16-alpine
        ports:
        - containerPort: 5432
          name: postgres
        env:
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: postgres
        - name: POSTGRES_DB
          value: postgres
        - name: PGDATA
          value: /var/lib/postgresql/data/pgdata
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
        - name: dshm
          mountPath: /dev/shm
        resources:
          requests:
            memory: "2Gi"
            cpu: "1"
          limits:
            memory: "10Gi"
            cpu: "2"
      volumes:
      - name: dshm
        emptyDir:
          medium: Memory
          sizeLimit: 10Gi
  volumeClaimTemplates:
  - metadata:
      name: postgres-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: standard-rwo
      resources:
        requests:
          storage: 200Gi
