apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "hyperlane.fullname" . }}-external-secret
  labels:
    {{- include "hyperlane.labels" . | nindent 4 }}
spec:
  secretStoreRef:
    name: {{ include "hyperlane.cluster-secret-store.name" . }}
    kind: ClusterSecretStore
  refreshInterval: "1h"
  # The secret that will be created
  target:
    name: {{ include "hyperlane.fullname" . }}-secret
    template:
      type: Opaque
      metadata:
        labels:
          {{- include "hyperlane.labels" . | nindent 10 }}
        annotations:
          update-on-redeploy: "{{ now }}"
      data:
        COINGECKO_API_KEY: {{ printf "'{{ .%s_coingecko_api_key | toString }}'" .Values.hyperlane.runEnv }}
        # Extract only the privateKey field from the JSON
        HYP_REBALANCER_KEY: {{ print "'{{ $json := .rebalancer_key | fromJson }}{{ $json.privateKey }}'" }}
        HYP_INVENTORY_KEY: {{ print "'{{ $json := .inventory_rebalancer_key | fromJson }}{{ $json.privateKey }}'" }}
        {{- range .Values.hyperlane.chains }}
        RPC_URL_{{ . | upper | replace "-" "_" }}: {{ printf "'{{ index (.%s_rpcs | fromJson) 0 }}'" . }}
        {{- end }}
  data:
  - secretKey: {{ printf "%s_coingecko_api_key" .Values.hyperlane.runEnv }}
    remoteRef:
      key: {{ printf "%s-coingecko-api-key" .Values.hyperlane.runEnv }}
  - secretKey: rebalancer_key
    remoteRef:
      key: {{ printf "hyperlane-%s-key-rebalancer" .Values.hyperlane.runEnv }}
  - secretKey: inventory_rebalancer_key
    remoteRef:
      key: {{ printf "hyperlane-%s-key-inventoryrebalancer" .Values.hyperlane.runEnv }}
  {{- range .Values.hyperlane.chains }}
  - secretKey: {{ printf "%s_rpcs" . }}
    remoteRef:
      key: {{ printf "%s-rpc-endpoints-%s" $.Values.hyperlane.runEnv . }}
  {{- end }}
