apiVersion: batch/v1
kind: CronJob
metadata:
  name: check-warp-deploy
spec:
  schedule: "{{ .Values.cronjob.schedule }}"
  successfulJobsHistoryLimit: {{ .Values.cronjob.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ .Values.cronjob.failedJobsHistoryLimit }}
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 0
      activeDeadlineSeconds: 14400
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: check-warp-deploy
            image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
            imagePullPolicy: Always
            command:
            - ./node_modules/.bin/tsx
            - ./typescript/infra/scripts/check/check-warp-deploy.ts
            - -e
            - {{ .Values.hyperlane.runEnv }}
            - --pushMetrics
            env:
            - name: PROMETHEUS_PUSH_GATEWAY
              value: {{ .Values.infra.prometheusPushGateway }}
            {{- if .Values.hyperlane.registryCommit }}
            - name: REGISTRY_COMMIT
              value: {{ .Values.hyperlane.registryCommit }}
            {{- end }}
            envFrom:
            - secretRef:
                name: check-warp-deploy-env-var-secret
