node_modules/
tmp.ts
dist/
.env*
cache/
deployment-plan.yaml
deployment-plans/
test/outputs
safe-tx-output/
igp-upgrade-output/
aggregation-hook-upgrade-output/
config/environments/mainnet3/aggregation-hook-upgrade/
config/environments/test/core/
config/environments/test/igp/
config/environments/test/ism/
safe-tx-parse-results*
squads-tx-parse-results*
