name: Build and Push Cosmos Simapp Image to GCR
on:
  workflow_dispatch:
    inputs:
      hyperlane_cosmos_branch:
        description: 'Branch, ref, or tag to build'
        default: 'v1.0.0-beta0'

concurrency:
  group: build-push-cosmos-simapp-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-env:
    runs-on: ubuntu-latest
    # assign output from step to job output
    outputs:
      gcp-configured: ${{ steps.gcp-configured.outputs.defined }}
    steps:
      - id: gcp-configured
        # Check if Workload Identity Federation is configured
        env:
          GCP_WORKLOAD_IDENTITY_PROVIDER: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          GCP_SERVICE_ACCOUNT: ${{ vars.GCP_SERVICE_ACCOUNT }}
        if: "${{ env.GCP_WORKLOAD_IDENTITY_PROVIDER != '' && env.GCP_SERVICE_ACCOUNT != '' }}"
        run: echo "defined=true" >> $GITHUB_OUTPUT

  build-and-push-to-gcr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    needs: [check-env]
    if: needs.check-env.outputs.gcp-configured == 'true'

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          submodules: recursive
      - name: Set up Depot CLI
        uses: depot/setup-action@v1

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for GCR
        run: gcloud auth configure-docker gcr.io --quiet

      - name: Build and push
        uses: depot/build-push-action@v1
        with:
          project: 3cpjhx94qv
          context: ./typescript/cosmos-sdk
          file: ./typescript/cosmos-sdk/Dockerfile
          push: true
          tags: |
            gcr.io/abacus-labs-dev/hyperlane-cosmos-simapp:${{ github.event.inputs.hyperlane_cosmos_branch || 'v1.0.0-beta0' }}
          build-args: |
            BRANCH_NAME=${{ github.event.inputs.hyperlane_cosmos_branch || 'v1.0.0-beta0' }}
          platforms: linux/amd64,linux/arm64
