name: static-analysis

on:
  push:
    # Triggers the workflow on push to main
    branches: [main]
    paths:
      - 'solidity/**'
      - '.github/workflows/static-analysis.yml'
  # Triggers the workflow on pull request
  pull_request:
    paths:
      - 'solidity/**'
      - '.github/workflows/static-analysis.yml'

jobs:
  slither:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          submodules: recursive

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: pnpm-cache
        uses: ./.github/actions/pnpm-cache
        with:
          cache-provider: buildjet

      - name: pnpm-install
        run: pnpm install --frozen-lockfile

      - name: Setup Foundry
        uses: ./.github/actions/setup-foundry

      - name: forge-build
        run: cd solidity && forge build --build-info

      - name: Static analysis
        uses: crytic/slither-action@v0.4.1
        id: slither
        with:
          target: 'solidity/'
          slither-config: 'solidity/slither.config.json'
          sarif: results.sarif
          fail-on: none
          ignore-compile: true

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.slither.outputs.sarif }}
          category: 'slither'
